<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>$(FLAVOR_APP_NAME)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleGetInfoString</key>
		<string></string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleLocalizations</key>
		<array>
			<string>en</string>
		</array>
		<key>CFBundleName</key>
		<string>$(FLAVOR_APP_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.373327072646-go00t5b8me9a5nstj11v1j2u0cd83951</string>
					<string>https</string>
					<string>http</string>
					<string>google.navigation</string>
					<string>geo</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>GIDClientID</key>
		<string>373327072646-gfihsd0rogf1a0avc4vk94p7del0p0ng.apps.googleusercontent.com</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>LSApplicationCategoryType</key>
		<string></string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>comgooglemaps</string>
			<string>iosamap</string>
			<string>tel</string>
			<string>https</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppleMusicUsageDescription</key>
		<string>$(FLAVOR_APP_NAME) needs to access your audio files for upload.</string>
		<key>NSFaceIDUsageDescription</key>
		<string>$(FLAVOR_APP_NAME) needs to protect your giving history.</string>
		<key>NSHumanReadableCopyright</key>
		<string>ITSAppUsesNonExemptEncryption</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>$(FLAVOR_APP_NAME) needs to access your microphone to record sermon sessions.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>$(FLAVOR_APP_NAME) requires access to your photos and videos to enable you to set your profile picture and upload photos from events and missions you attend.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>$(FLAVOR_APP_NAME) needs to save photos and videos to your photo library.</string>
		<key>NSCameraUsageDescription</key>
		<string>$(FLAVOR_APP_NAME) needs access to your camera to take photos and videos for events and missions.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
			<string>audio</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIRequiresFullScreen</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>com.posthog.posthog.API_KEY</key>
		<string>phc_qMm6StosFNCMhAkrmcoJAOlX5kOhvVTR6dsCFCIkE3g</string>
		<key>com.posthog.posthog.AUTO_INIT</key>
		<false/>
		<key>com.posthog.posthog.CAPTURE_APPLICATION_LIFECYCLE_EVENTS</key>
		<true/>
		<key>com.posthog.posthog.DEBUG</key>
		<true/>
		<key>com.posthog.posthog.POSTHOG_HOST</key>
		<string>https://eu.i.posthog.com</string>
	</dict>
</plist>
